<nav id="navigation">
	<ul class="merk">
		<li><%= link_to 'Music Event', 'http://localhost:3000/musics' %></li>
	</ul>
	<ul class="bar">
		<li><a href="#">More Info</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</nav>
<div style="clear:both"></div>