<%= render 'navigation' %>
<div class="wrapper">
<h1>Pendataan Band</h1>

<%= render 'form', music: @music %>

</div>
<div style="width:80%;margin: auto;margin-top: 15px;">
	<%= link_to 'Back', musics_path, class:'button' %>
</div>